* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  img {
    width: 150px;
  }
}

.container {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .login_search {
      display: flex;
      align-items: center;
      column-gap: 15px;
      > div {
        display: flex;
        column-gap: 8px;
        cursor: pointer;
        button {
          background-color: transparent;
          color: gray;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
        }
      }
      > i {
        cursor: pointer;
      }
    }
  }
}
.modal {
  display: none;
  left: 0;
  right: 0;
  top: 5%;
  position: fixed;
  &.show {
    display: block;
  }
  .modal_dialog {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;

    position: relative;
    z-index: 1;
    border-radius: 4px;
    .modal_header {
      padding: 20px;
      display: flex;
      justify-content: center;
      .close {
        position: absolute;
        top: -5px;
        right: 10px;
        font-size: 50px;
        cursor: pointer;
      }
    }
    .btn_form {
      display: grid;
      grid-template-columns: 50% 50%;
      button {
        padding: 20px 30px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        color: rgb(128, 128, 128, 1);
        &.click {
          background-color: rgba(26, 121, 0, 1);
          color: white;
        }
      }
    }
    .login {
      padding: 20px;
      font-family: Roboto;
      &.hidden {
        display: none;
      }
      span {
        display: block;
        font-size: 16px;
        // margin-block: 20px 5px;
        &.title {
          margin-block: 20px 5px;
        }
        &.error1 {
          font-size: 14px;
          margin-top: 5px;
          font-style: italic;
          color: red;
          display: none;
          &.show {
            display: block;
          }
        }
        &.error2 {
          font-size: 14px;
          margin-top: 5px;
          font-style: italic;
          color: red;
          display: none;
          &.show {
            display: block;
          }
        }
      }
      input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 17px;
        border-radius: 4px;
        // margin-block: 5px 20px;
        &.password {
        }
      }
      > div {
        position: relative;
        input {
          width: 100%;
          border: 1px solid #ccc;
          padding: 10px;
          font-size: 17px;
          border-radius: 4px;
          &.password {
          }
        }
        i {
          position: absolute;
          top: 13px;
          right: 15px;
          color: #a8a2a2;
        }
      }

      button {
        width: 100%;
        padding: 15px 10px;
        border-radius: 4px;
        font-weight: 700;
        color: #fff;
        margin-top: 40px;
        background-color: rgba(26, 121, 0, 1);
      }
    }
    .register {
      display: none;
      padding: 20px;
      font-family: Roboto;
      &.show {
        display: block;
      }
      span {
        display: block;
        font-size: 16px;
      }
      input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        font-size: 17px;
        border-radius: 4px;
        &::placeholder {
        }
        margin-block: 5px 20px;
      }
      i {
        position: absolute;
        top: 375px;
        right: 30px;
        color: #a8a2a2;
      }
      button {
        width: 100%;
        padding: 15px 10px;
        border-radius: 4px;
        font-weight: 700;
        color: #fff;
        background-color: rgba(26, 121, 0, 1);
      }
    }
  }
  .modal_overlay {
    background: rgba(0, 0, 0, 0.504);
    position: fixed;
    inset: 0;
    cursor: default;
  }
}
